html, body{
    width: 100vw;
    scrollbar-width: thin;
}

*{
    box-sizing: border-box;
}
.section-tiga{
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.section-tiga-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.section-tiga-title > h2{
    font-size: 24px;
    line-height: 36px;
}

.section-tiga-cards{
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.section-tiga-cardscontainer{
    display: flex;
    width: 100%;
    height: fit-content;
    gap: auto;
}

.cardz{
    width: 100%;
    height: fit-content;
    display: flex;
    margin-bottom: 10%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    flex-direction: row;
    border-width: 0px;
    background-color: #F1F3FF;
    border-radius: 5%;
}

.cards-left{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10%;
    width: 30%;
    height: auto;
}

.cards-left > img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.cards-right{
    padding: 5% 5%;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0%;
}

.cards-right > p{
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    width: 90%;
    margin-top: 0px;
    margin-bottom: 1%;
}

.testiName{
    padding-top: 0%;
    margin-top: 0%;
    font-weight: 400;
    font-size: 14px;
}

.section-tiga-button{
    padding-top: 0.5%;
    display: flex;
    gap: 2%;
    flex-direction: row;
    justify-content: center;
}

.section-tiga-button > button{
        display: inline-block;
        width: fit-content;
        height: fit-content;
        text-align: center;
        box-sizing: border-box;
        padding: 8px 16px;
        background-color: #F1F3FF;
        color: rgb(92, 92, 92);
        border-radius: 50%;
        border-style: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 700;
}

.section-tiga-button > button:hover{
    background-color: #5CB85F;
    color: #FFFFFF;
}

@media only screen and (max-width: 800px){
    .cards-left{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0%;
        margin-bottom: 5%;
        width: 30%;
        height: auto;
    }
    
    .cards-left > img{
        width: 80%;
        height: auto;
    }
    
}

@media only screen and (max-width: 564px){
    .cardz{
        height: fit-content;
        display: flex;
        flex-direction: column;
        margin-bottom: 10%;
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 5%;
        border-width: 0px;
        background-color: #F1F3FF;
        border-radius: 5%;
    }

    .cards-left{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10%;
        width: 100%;
        height: auto;
    }
    .cards-left > img{
        width: 30%;
        height: 30%;
    }

    .cards-right{
        padding: 5% 5%;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 0%;
    }    

}