p {
    text-align: justify;
}

.section-satu-txt-points > li {
    list-style-type: none;
}

.section-satu{
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: white;
    height: auto;
    padding: 0px;
}

.section-satu-img{
    box-sizing: border-box;
    padding-top: 5%;
    padding-left: 10%;
    margin-bottom: 2%;
    width: 50%;
    height: auto;
}

.section-satu-img > img{
    width: 80%;
    height: auto;
}


.section-satu-txt{
    width: 50%;
    box-sizing: border-box;
    padding-top: 8%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.section-satu-txt > h2{
    line-height: 36px;
    font-size: 24px;
}

.section-satu-txt > p, li{
    line-height: 20px;
    font-size: 14px;
    font-weight: 700;
}

.checklist{
    box-sizing: border-box;
    font-size: 14px;
    width: 24px;
    height: 24px;
    padding: 4px 6px;
    border-radius: 50%;
    background-color: #CFD4ED;
    margin-right: 10px;
    line-height: 30px;
    color:#0D28A6;

}

.section-satu-txt-points{
    padding-left: 0%;
    line-height: 20px;
}

.section-satu-txt-points > span{
    padding: 20px;
}

@media only screen and (max-width: 1024px) {
    .section-satu{
        width: 100vw;
        height: auto;
        display:flex;
        flex-direction: row;
        gap: auto;
        margin: 0%;
    }
    .section-satu-img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: auto;
        padding: 0%;
        margin: 0%;
    }
    .section-satu-img > img{
        max-width: 90%;
        height: auto;
    }
    .section-satu-txt{
        width: 50%;
        height: auto;
        padding-top: 5%;
        padding-left: 5%;
        margin: 0%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
    }
    }


    @media only screen and (max-width: 800px) {
        .section-satu{
            width: 100vw;
            height: auto;
            display:flex;
            flex-direction: column;
            gap: auto;
        }
        .section-satu-img{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
            height: auto;
            padding: 0%;
            margin-top: 5%;
        }
        .section-satu-img > img{
            max-width: 50%;
            height: auto;
        }
        .section-satu-txt{
            width: 100%;
            padding: 0% 10%;
            margin: 0%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
        }

@media only screen and (max-width: 576px) {
    .section-satu{
        width: 100vw;
        height: auto;
        display:flex;
        flex-direction: column;
        gap: auto;
    }
    .section-satu-img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 0%;
        margin-top: 10%;
    }
    .section-satu-img > img{
        max-width: 80%;
        height: auto;
    }
    .section-satu-txt{
        width: 100%;
        padding: 0% 10%;
        margin: 0%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
    }
    }