.footer-pg{
    margin-top: 5%;
    width: 90%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    gap: 10%;
}

.footer-alamat > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.footer-copyright > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.footer-socmed > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.footer-nav > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.footer-alamat{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.footer-nav{
    display: flex;
    flex-direction: column;
    width: 15%;
}

.footer-socmed{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.footer-copyright{
    display: flex;
    flex-direction: column;
    width: 10%;
}

.logoSocmed{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

@media only screen and (max-width: 1024px) {
    .footer-pg{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100vw;
        gap: 2%;
        margin: 0%;
    }
    .logo-web{
        width:100%;
    }
    .logo-web > img{
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
}

@media only screen and (max-width: 576px) {
    .footer-pg{
        width: 100vw;
        display: flex;
        flex-direction: column;
        padding: 3%;
    }
    .footer-alamat {
        width: 90%;
    }
    .footer-alamat >p{
        margin-bottom: 0%;
    }
    .footer-nav{
        width: 90%;
    }
    .footer-nav >p{
        margin-bottom: 0%;
    }
    .footer-socmed{
        width: 90%;
    }
    
    .footer-copyright{
        width: 90%;
    }
}
